<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Meme Generator</title>

    <!-- Bootstrap CSS -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <div class="jumbotron" id="upload-container" onclick="chooseFile()">
            <h1 class="display-4">AI Meme Generator</h1>
            <p class="lead">Click or drag and drop to upload an image</p>
            <input type="file" id="file-input" accept="image/*" onchange="displayImage()">
            <img id="preview-image" alt="Preview" class="img-fluid mx-auto">
            <hr class="my-4">
        </div>
        <div class="text-center">
            <button class="btn btn-success btn-lg" id="upload-button" onclick="uploadImage()">Upload</button>
        </div>
        <div id="response-message" class="mt-3"></div>
        <!-- <img id="received-image" alt="Preview"> -->

    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Custom JavaScript -->
    <script src="{{ url_for('static', filename='index.js') }}"></script>

</body>
</html>
